body {
    background-color: lightgrey;
}

div {
    background-color: darkgrey;
}

span {
    color:indigo;
}

h1 {
    color: red;
}

h2 {
    font-size: 18px;
    color:darkgreen;
}

ol {
    font-size: 14px;
    color:blue;
}

img {
    width: 30%;
    height: 30%;
}

article {
    background-color: darkkhaki;
}