body {
    background-color: #101828;
}

h1,h2 {
    color: rgb(255, 255, 255);
}

a {
    color: white;
    text-decoration: none;
}

label {
	color:white;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;

}
table {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: #212938;

}

th, td {
    padding: 10px;
    border: #101828 solid 2px;

}

.edit {
	background-color:#6a6cff;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.add {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.logout {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color:#ff0000;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

button:hover {
	background-color:#5cbf2a;
}
button:active {
	position:relative;
	top:1px;
}

