* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  background-color: #1b1b1b;
}

header > a {
  color: #eeeeee;
}

.file {
  background-color: #333;
  color: #eeeeee;
  text-decoration: none;
  padding-right: 24px;
}

.files {
  display: flex;
  align-items: center;
  padding-left: 24px;
  height: 100%;
  background-color: #333;
  border-top: 3px solid #77a2ff;
}

.themeswitcher {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1b1b1b;
  color: #b3b9c5;
  margin-right: 24px;
  border: none;
}

.themeswitcher > img {
  height: 20px;
  padding-left: 5px;
}

.themeswitcher > span {
  font-size: 16px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 59px;
  background-color: #333;
  border-bottom: 1px solid rgb(75, 75, 75);
}

nav {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
  margin-right: 24px;
}

.navleft > a {
  padding-right: 15px;
}

nav > a {
  display: flex;
  align-items: center;
}

nav > a > img {
  height: 28px;
  opacity: 0.8;
  display: flex;
  align-items: center;
}

nav > a > img:hover {
  opacity: 1;
}

article {
  background-color: #272727;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

article a {
  border-bottom: 2px solid #77a2ff;
  font-weight: 400;
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 750px;
  padding: 24px;
}

h1 {
  color: #eeeeee;
  font-size: 40px;
  margin-top: 48px;
  padding-bottom: 10px;
  font-weight: 450;
}

#heroheader {
  text-align: left;
}

h2 {
  color: #77a2ff;
  line-height: 0.8;
  margin: 0 0 1.5rem;
  scroll-margin-top: 60px;
  font-size: 2rem;
  font-weight: 400;
}

h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 3rem;
}

h3 {
  color: #b3b9c5;
  font-size: 18px;
  font-weight: 200;
}

p {
  color: #b2b8c4;
  font-size: 18px;
  font-weight: 200;
}

.introduction {
  display: flex;
  width: 100%;
  line-height: 175%;
  margin-bottom: 24px;
}

.introduction > p {
  font-size: 18px;
  font-weight: 400;
}

.introduction > img {
  height: 140px;
  margin-left: 15px;
}

article a {
  color: white;
  text-decoration: none;
}

article a:hover {
  background-color: #77a2ff;
  color: black;
}

.container > button {
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #77a2ff;
  padding: 8px 16px;
  margin-top: 24px;
  margin-bottom: 24px;
}

button > p {
  color: rgb(0, 0, 0);
  font-weight: 500;
  line-height: 2em;
}

button:hover {
  background-color: #acc6ff;
  cursor: pointer;
}

.container > button > img {
  margin-right: 10px;
  height: 30px;
}

.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-header > a {
  display: flex;
  align-items: center;
  color: rgb(238, 238, 238);
  font-size: 16px;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1b1b1b;
}

a.post {
  grid-gap: 1rem;
  align-items: center;
  border: 1px solid transparent;
  display: grid;
  grid-template-columns: auto 60px;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0.55rem 1rem;
}

a.post:hover {
  border: 1px solid rgb(75, 75, 75);
  background-color: #1b1b1b;
}

a.post time {
  font-size: 14px;
  font-weight: 200;
  color: grey;
  text-align: center;
}

footer > section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;
  height: 28px;
}

footer > section > nav > a > img {
  height: 18px;
}

footer a,
footer span {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #eeeeee;
  font-size: 13px;
  line-height: 28px;
  padding: 0 10px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #1b1b1b;
  color: rgb(240, 240, 240);
  text-align: center;
  padding: 5px 0;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 0px;

  width: 100px;
  top: 200%;
  left: 0%;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 10%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent rgb(75, 75, 75) transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltipright {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltipright .tooltiptextright {
  visibility: hidden;
  width: 120px;
  background-color: #1b1b1b;
  color: rgb(240, 240, 240);
  text-align: center;
  padding: 5px 0;
  border: 1px solid rgb(75, 75, 75);
  border-radius: 0px;

  width: 100px;
  top: 200%;
  right: 0%;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltipright .tooltiptextright::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  right: 10%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent rgb(75, 75, 75) transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipright:hover .tooltiptextright {
  visibility: visible;
}

article > .container > h1 {
  text-align: center;
}

.post-details {
  text-align: center;
  color: rgb(124, 124, 124);
}

article > .container > p {
  line-height: 175%;
}

.blogyear {
  line-height: 1.6em;
  border-bottom: 3px solid rgb(54, 54, 54);
}

.description {
  font-size: 18px;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .desktop-only {
    display: none;
  }
  .themeswitcher {
    display: none;
  }
}

.projectscontainer {
  display: grid;
  max-width: 1350px;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 50%);
  padding: 24px;
}

.project {
  background-color: rgb(31, 31, 31);
  border: 1px solid rgb(10, 10, 10);
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project > h2 {
  font-size: 24px;
  margin: 0;
}

.project > p {
  text-align: center;
}

.tagbox {
  display: flex;
  align-items: center;
  margin: 24px 0;
}

.tagbox > p {
  color: white;
  padding: 3px 10px;
  margin: 0 5px;
  border: 1px solid grey;
}

#aboutmephoto {
  height: 200px;
}

ul {
  color: #b3b9c5;
  line-height: 1.6em;
  list-style: none;
  font-size: 18px;
  font-weight: 200;
}

li::before {
  content: ">";
  color: #77a2ff;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

article {
  min-height: 100vh;
}

#under-construction {
  display: flex;
  align-items: center;
  margin-right: 130px;
}

#construction {
  height: 50px;
}
